* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main{
    width: 594px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
}
header>h1{
    font-size:1.25rem;
    font-weight:500;
    color:#F9F4DA;
}
header>p{
    font-size: 0.875rem;
    max-width:350px;
    color:#8E8E8E;
}
.game-status{
    text-align: center;
    width:350px;
    height: 60px;
    border:none;
    border-radius: 5px;
    padding-top: 6px;
    color:#F9F4DA;
    margin-block:30px;
}

.game-status.won{
    background-color: #10A95B;
}
.game-status.loses{
    background-color: #BA2A2A;
}
.game-status.bye{
    background-color: #7A5EA7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.game-status>h1{
    font-size:1.25rem;
    font-weight: 500;
    margin: 0px;
}
.game-status>h2{
    font-size: 1rem;
    font-weight: 500;
    margin: 0px;
}

.language-chips{
    display:flex;
    flex-wrap:wrap;
    gap:1.5px;
    justify-content: center;
    max-width:266px;
}
.chip{
    border-radius: 3px;
    padding:4.5px;
    position:relative;
    max-width: 66.75px;
    height:24.75px;
    font-size: 0.75rem;
    font-weight: 700;
    font-style: bold;
}

.lost::before {
    content: "\1F480";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.word{
    display:flex;
    justify-content: center;
    margin-block: 40px;
    max-width: 350px;
    gap:2px;
}
.word>span{
    width:40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: #323232;
    border-bottom:1px solid #F9F4DA;
}

.word>span.missed-letter{
    color:#EC5D49;
}

.keyboard{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width:480px;
    gap:6px;
} 
.keyboard>button{
    width: 40px;
    height: 40px;
    border:1px solid #D7D7D7;
    border-radius: 4px;
    background-color: #FCBA29;
    color:#1E1E1E;
    font-size: 1rem;
    font-weight: 600;
    font-family:"Hanken Grotesk", Arial, sans-serif ;
    cursor: pointer;
}

button.correct {
    background-color: #10A95B;
}

button.wrong {
    background-color: #EC5D49;
}
.keyboard>button:disabled{
    cursor:not-allowed;
    opacity:0.7;
}

.new-game {
    background-color: #11B5E5;
    font-family:"Hanken Grotesk", Arial, sans-serif ;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    width: 228px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    margin-top: 40px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}